/***********BODY***********/
body,
html,
div img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*Changes how the element's width is calculated. 
  Padding and borders are factored into the width of the element*/
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/Film-Roll/bluefilmroll2.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.logo {
  height: 6.2vh;
  width: auto;
  justify-content: flex-start;
  position: absolute;
  left: 50px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: cursive;
  background-color: black;
  text-transform: uppercase;
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */

  /* to make the navbar sticky*/
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav__links {
  display: flex; /*puts them in line*/
  justify-content: space-between;
  width: 40%;
  position: absolute;
  right: 100px;
}

.nav__links a {
  color: rgb(224, 220, 220);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
}

.nav__links li {
  list-style: none;
}

.nv .nav__links .nav__links-items {
  display: inline-block;
  position: relative;
}

.nav__links .nav__links-items a {
  cursor: pointer;
  display: block;
  /* padding-bottom: 10px; */
}

li:hover {
  opacity: 0.8;
}

.sublinks {
  display: none;
  position: absolute;
  width: 130px;
  background-color: black;
  padding: 0;
  padding-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
}

.nav__links-items:hover .sublinks {
  display: block;
}

#horror_choice:hover,
#scifi_choice:hover,
#superhero_choice:hover,
#kids_choice:hover {
  background-color: white;
  color: black;
}

.genre__HL:hover {
  opacity: 0.5;
}

/******Footer*****/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  /* grid-area: footer; */
  /* margin-bottom: 0; */
  /* width: 100%; */
  height: 8vh;
  background-color: rgb(0, 0, 0);
  /* margin-top: 0.5em; */
  position: fixed;
  color: white;
  font-family: cursive;
  text-align: center;
  margin: auto 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  /* margin-top: 50px; */
}

.footer-content {
  display: inline;
  position: relative;
  top: 0px;
}

.admin-button {
  background: none;
  padding: 0;
  font: inherit;
  letter-spacing: 1px;
}

input[type="text"],
input[type="password"] {
  width: 60%;
  padding: 10px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 7px;
  font-family: cursive;
}

/* Set a style for buttons */
button {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}

button:hover {
  opacity: 0.7;
}

/* Extra styles for the cancel button */
.cancel-button {
  background-color: #f44336;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100px;
}

/* Center the image and position the close button */
.login-picture {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.login-photo {
  width: 80%;
}

.modal-container {
  padding: 45px;
}

span.password {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.password a:link {
  color: blue;
}

.password a:hover ::after {
  color: purple;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity background*/
  padding-top: 50px;
}

/* Modal Content Box */
.modal-content {
  background-image: url(images/Film-Roll/bluefilmroll2.jpg);
  margin: 2% auto 10% auto; /* 2% from the top, 10% from the bottom and centered */
  border: 5px solid rgb(255, 255, 255);
  width: 50%;
  border-radius: 2%;
  background-size: 180%;
  background-repeat: no-repeat;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 15px;
  top: -40px;
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  font-size: 60px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.7s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.password {
    display: block;
    float: none;
  }
  .cancel-button {
    width: 70%;
  }
}

/* ---------admin sidenav ------- */
admin-sidenav {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 0;
  left: 60px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.admin-sidenav a {
  padding: 6px 0 6px;
  text-decoration: none;
  font-size: 25px;
  color: #d3cbcb;
  display: block;
}

.admin-sidenav a:hover {
  color: #f1f1f1;
}

.admin-main {
  margin-left: 160px;
  font-size: 28px;
  margin-top: -90px;
  color: white;
}

h2 {
  text-align: center;
}

@media screen and (max-height: 450px) {
  .admin-sidenav {
    padding-top: 15px;
  }
  .admin-sidenav a {
    font-size: 18px;
  }
}

/************************ADMIN INTERFACE***************************/
.fas {
  color: white;
  font-size: 30px;
}
