/* ************** Body CSS ***************
#index-body {
  margin-left: 0;
  /* Same width as the side-navbar */
/* padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/Film-Roll/filmroll5.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

/***********Header CSS *****************/
/* .header {
  grid-area: header;
}

/**************Nav bar CSS************/
/* .navbar {
  background-color: black;
  /* overflow-y: hidden; 
} */

/* .nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: cursive;
  text-transform: uppercase;
  background-color: black;
} */

/* li {
  display: inline;
  background-color: black;
  font-size: 23px;
  width: 20%;
} */

/* .navbar a {
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  color: white;
  padding: 2px;
  padding-right: 10px;
  margin-left: 15px;
  float: left;
  margin-top: 25px;
  margin-right: 8px;
  text-align: center;
  padding-left: 10px;
  border: 1px solid transparent;
  font-family: cursive;
  text-transform: uppercase;
  background-color: black;
} */
/* 
.navbar a:hover {
  /* color: yellowgreen; */
/* background-color: white;
  color: black;
  transition: 0.6s ease;
  border-radius: 5px;
} */
/*  .navbar {
  grid-area: navbar;
}
*/

/**************Main CSS**************/

.main {
  color: white;
  animation: main 35s linear 0s infinite;
  animation-timing-function: ease-in-out;
  background-image: url(images/Home-Page/avengers1.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

@keyframes main {
  0% {
    background-image: url(images/Home-Page/Movies-main.jpg);
  }

  10% {
    background-image: url(images/Home-Page/avengers1.jpg);
  }

  20% {
    background-image: url(images/Home-Page/voldemort.jpg);
  }

  30% {
    background-image: url(images/Home-Page/IT.jpg);
  }

  40% {
    background-image: url(images/Home-Page/bean.jpg);
  }

  50% {
    background-image: url(images/Home-Page/thor.jpg);
  }

  60% {
    background-image: url(images/Home-Page/inception2.jpg);
  }

  70% {
    background-image: url(images/Home-Page/hp.jpg);
  }

  80% {
    background-image: url(images/Home-Page/hangover.jpg);
  }

  90% {
    background-image: url(images/Home-Page/inception.jpg);
  }

  100% {
    background-image: url(images/Home-Page/interstellar.jpg);
  }
}

#viewgallery {
  font-size: 65px;
  align-self: center;
  border: 1px solid transparent;
  font-family: cursive;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

/************Footer CSS***************/
/* .footer {
  grid-area: footer;
  /* margin-bottom: 0; */
  /* width: 100%; */
  /* height: 7vh;
  background-color: black;
  /* margin-top: 0.5em; */
  /* opacity: 1;
  position: sticky;
  color: white;
  font-family: cursive;
  text-align: center;
  margin: auto 0;
}  */

/* .footer-content {
  display: inline;
  position: relative;
  top: 10px;
} */

/*******************************************************************/
/******************** PHOTO GALLERY *******************/

#gallery-body {
  margin-left: 0;
  /* Same width as the side-navbar */
  padding: 0;
  margin-top: 0;
  margin-right: 2px;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/Film-Roll/filmroll5.jpg);
  /* background-position: center; */
  background-repeat: repeat;
  /* background-size: cover; */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(25, 5vw);
  grid-gap: 5px;
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 2px;
}

.avengers {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}

.bean {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 5;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.ff {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 7;
}

.mama {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 8;
}

.venom {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 7;
}
.narnia {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 9;
}
.annabelle {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 9;
}
.fsog {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-end: 10;
}
.mi {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 12;
}
.mib {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 12;
}
.sully {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 9;
  grid-row-end: 13;
}
.interstellar {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 10;
  grid-row-end: 15;
}
.matrix {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 12;
  grid-row-end: 15;
}

.hp {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 13;
  grid-row-end: 18;
}

.nun {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 13;
  grid-row-end: 18;
}
.fd {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 15;
  grid-row-end: 20;
}
.twilight {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 15;
  grid-row-end: 20;
}
.inception {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 15;
  grid-row-end: 18;
}

.oblivion {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 18;
  grid-row-end: 21;
}
.maleficent {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 18;
  grid-row-end: 23;
}

.tintin {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 18;
  grid-row-end: 21;
}

.wrong-turn {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 23;
  grid-row-end: 26;
  margin-bottom: 5px;
}
.john-wick {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 22;
  grid-row-end: 26;
  margin-bottom: 5px;
}
.joker {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 23;
  grid-row-end: 26;
  margin-bottom: 5px;
}
.infinityWar {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 21;
  grid-row-end: 23;
}
.minions {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 21;
  grid-row-end: 26;
  margin-bottom: 5px;
}
.titanic {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 20;
  grid-row-end: 22;
}

.iceage {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 20;
  grid-row-end: 22;
}
/**************Nav bar CSS************/
/* .gallery-navbar {
  /* background-color: black; 
  overflow-x: hidden;
  opacity: 0.7; */

  /*Grid placement*/
  /* grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
}

.gallery-navbar a {
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  color: white;
  padding: 2px;
  padding-right: 10px;
  margin-left: 15px;
  float: left;
  margin-top: 25px;
  margin-right: 8px;
  text-align: center;
  padding-left: 10px;
  border: 1px solid transparent;
  font-family: cursive;
  text-transform: uppercase;
  background-color: black;
} */
/* 
.gallery-navbar a:hover {
  /* color: yellowgreen; */
  /* background-color: white;
  color: black;
  transition: 0.6s ease;
  border-radius: 5px;
}

.main-aboutus {
  grid-area: main;
  color: white;
  background-position: center;
  background-color: transparent;
  border-radius: 50%;
  font-family: cursive;
  background-color: rgb(3, 3, 3);
  opacity: 0.8;
}

.contactus-container {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 22px;
  text-align: justify;
  align-self: center;
} */

/* .aboutusheading {
  font-size: 55px;
}

article {
  align-self: center;
}

.admin-button {
  background: none;
  padding: 0;
  font: inherit;
}

input[type="text"],
input[type="password"] {
  width: 60%;
  padding: 10px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 7px;
}

/* Set a style for buttons */
/* button {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}

button:hover {
  opacity: 0.7;
}

/* Extra styles for the cancel button 
.cancel-button {
  background-color: #f44336;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100px;
}

/* Center the image and position the close button 
.login-picture {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.login-photo {
  width: 70%;
  border-radius: 100%;
}

.modal-container {
  padding: 45px;
}

span.password {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.password a:link {
  color: blue;
}

.password a:hover ::after {
  color: purple;
} */

/* The Modal (background) */
/* .modal {
  display: none; /* Hidden by default */
  /* position: fixed; /* Stay in place 
  z-index: 1; /* Sit on top 
  left: 0;
  top: 0;
  width: 100%; /* Full width 
  height: 100%; /* Full height 
  overflow: auto; /* Enable scroll if needed 
  background-color: rgb(0, 0, 0); /* Fallback color 
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity background
  padding-top: 50px;
}  */

/* Modal Content Box */
/* .modal-content {
  background-image: url(images/Film-Roll/bluefilmroll2.jpg);
  margin: 2% auto 10% auto; /* 2% from the top, 10% from the bottom and centered */
  /* border: 5px solid rgb(255, 255, 255);
  width: 50%;
  border-radius: 2%;
  background-size: 180%;
  background-repeat: no-repeat;
}  */

/* The Close Button (x) */
/* .close {
  position: absolute;
  right: 15px;
  top: -40px;
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  font-size: 60px;
} */

/* Add Zoom Animation */
/* .animate {
  -webkit-animation: animatezoom 0.7s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1); *//
  /* }
} */
/* 
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
  span.password {
    display: block;
    float: none;
  }
  .cancel-button {
    width: 70%;
  }
}  */

/* -----------------CONTACT page--------------------------- */
/* 
.mainC {
  grid-area: main;
  color: white;
  background-position: center;
  background-color: transparent;
  border-radius: 50%;
  font-family: cursive;
  background-color: rgb(3, 3, 3);
  opacity: 0.8;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 1fr 240px 1fr;
  grid-gap: 3px;
}

#W1 {
  display: flex;
  align-items: flex-end;

  margin-left: 35%;
  font-size: 30px;
}

#W2 {
  text-align: center;
  display: flex;
  align-items: flex-end;

  margin-left: 15%;
  font-size: 30px;
  align-self: center;
}

#W3 {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-items: end;
  font-size: 30px;
  padding-left: 150px;
}

#W4 {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-items: end;
  font-size: 30px;
  align-self: center;
  justify-self: start;
  padding-left: 50px;
}

#W5 {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-items: end;
  font-size: 30px;
  align-self: end;
  justify-self: center;
  padding-right: 0px;
}

#W6 {
  padding-top: 25px;
} */
